
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Come<br><span style="color: #267CE4;"> Learn </span>With Us</h1>
      <p class="mb-4 pb-0">Fresh Set Of Learning Possibilities</p>
      <a href="#speakers" class="about-btn scrollto">Learn More</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>About <span style="color:#267CE4 ;">BM</span>learn</h2>
            <p>Bm learn is a web-appication specifically developed for BMCC students. We understand how challenging it can be for students who are not familiar with computer technology, which is why Bm Learn was created. Our online platform provides step-by-step guides and tutorials on basic computer skills, as well as more advanced topics like coding and programming. Our team of expert teachers and senior students are always available to answer any questions and provide additional support to ensure success for every student. With Bm Learn, you can feel confident and prepared to tackle any technology challenges that come your way.

            </p>
          </div>
          <div class="col-lg-6">
            <h2> <span style="color:#267CE4 ;">Our </span>Mission</h2>
            <p>As technology advances, the use of web applications in education has become increasingly popular. Our web application serves as a valuable asset to students at BMCC by providing accessible and quality help with their coursework. Our team of experts has worked diligently to ensure the web application is user-friendly and caters to various academic needs. With features such as live chat support, interactive study guides, and review quizzes, students are able to grasp concepts effectively and become proficient in the subject matter.
            </p>
          </div>
       
        </div>
      </div>
    </section><!-- End About Section -->

<!----  popular cources section-->
<section id="speakers">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Our<span style="color: #267CE4;"> Popular</span> Courses</h2>
      <p>Here are our courses</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img src="./img/1.png" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href=" ">Learn More</a></h3>
         
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img src="./img/2.png" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href=" ">Learn More</a></h3>
           
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img src="./img/3.png" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href=" ">Learn More</a></h3>
         
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="200">
          <img src="./img/4.png" alt="Speaker 2" class="img-fluid">
          <div class="details">
            <h3><a href=" ">Learn More</a></h3>
           
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="300">
          <img src="./img/5.png" alt="Speaker 3" class="img-fluid">
          <div class="details">
            <h3><a href=" ">Learn More</a></h3>
          
           
          </div>
        </div>
      </div>
      
        
      </div>
    </div>
  </div>

</section><!-- End Speakers Section -->




    <!-- ======= Speakers Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our <span style="color: #267CE4;"> Team</span></h2>
          <p>Here are our team members</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="./img/vijay.png" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href=" ">Vijay Chavan</a></h3>
                <p>TY-BBACA</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="./img/anu.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href=" ">Anushka Sane</a></h3>
                <p>TY-BBACA</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="./img/madal.jpeg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href=" ">Madal Dhiman</a></h3>
                <p>TY-BBACA</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="./img/anks.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href=" ">Ankita Saha</a></h3>
                <p>TY-BBACA</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="./img/shruti.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href=" ">Shruti Hole</a></h3>
                <p>TY-BBACA</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="./img/yashshree.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="">Yashashree Rasal</a></h3>
                <p>TY-BBACA</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="" alt="" class="img-fluid">
              <div class="details">
                <h3><a href=""></a></h3>
                <p></p>
                <div class="social">
                  <a href=""><i class=""></i></a>
                  <a href=""><i class=""></i></a>
                  <a href=""><i class=""></i></a>
                  <a href=""><i class=""></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="./img/mahesh.jpeg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="">Mahesh Maske</a></h3>
                <p>TY-BBACA</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </section><!-- End Speakers Section -->

